<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/cards.css" type="text/css" />
    <style>

      #map {
        height: 100%;
      }

      html, body {
        height: 80%;
        margin: 0;
        padding: 0;
      }
    </style>

  </head>

  <body>

    
      <header class="masthead clear">
          <div class="centered">
        
            <div class="site-branding">
              <h1 class="site-title">View Map</h1>
            </div>
            <!-- .site-title -->
          </div>
          <!-- .centered -->
        </header>
        <!-- .masthead -->


    <h1><%=name%></h1>
    <div id="map"></div>
    <script>
      function addMarker(data){
        console.log(data)
        var marker = new google.maps.Marker({
          map:map,
          position: {lat:data.latitudes, lng:data.longtitudes},
        });

        var infoWindow = new google.maps.InfoWindow({
          content: `<h1>${data.title}</h1><br></br><h3>${data.description}</h3>
                    <br><img src=${data.imageUrl} style="width:300px;">`
        });

        marker.addListener('click', function(){
          infoWindow.open(map, marker);
        });

      }

      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 43.658412, lng: -79.400037},
          zoom: 14
        });


      addMarker(<%-JSON.stringify(pins[0])%>);
      addMarker(<%-JSON.stringify(pins[1])%>);
      addMarker(<%-JSON.stringify(pins[2])%>);
      addMarker(<%-JSON.stringify(pins[3])%>);
      addMarker(<%-JSON.stringify(pins[4])%>);
      addMarker(<%-JSON.stringify(pins[5])%>);

}//init closer




    </script>


    <script aync defer
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCsAwJU71HsSnjN_EEj1osJHCFyC3kVdFQ&callback=initMap">

    </script>




  </body>
</html>
